<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/DTD/html4/loose.dtd">
<html>

<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link media="screen, print" type="text/css" rel="stylesheet" href="css/style_fp.css">
    <meta content="cs" name="language">
    <title>Program</title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
</head>

<body>
    <div id=""></div>
    <div id="content">
        <table class="hlavicka">
            <tr>
                <td class="nazevOrganizace">Město Česk&aacute; Kamenice</td>
            </tr>
            <tr>
                <td class="typDokumentu">PROGRAM<br>A<br>PODKLADY K&nbsp;JEDNÁNÍ</td>
            </tr>
            <tr>
                <td class="jednani">{{ no_council_meeting }}</td>
            </tr>
            <tr>
                <td class="jednani">{{ time }} {{ location }}</td>
            </tr>
        </table>
    </div>
</body>

</html>